<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/postgres</property>
		<property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
	    <property name="hibernate.connection.username">postgres</property>
	    <property name="hibernate.connection.password">root</property>
	    <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
	    <mapping class="com.tuvarna.transportsystem.entities.Role"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Location"/>
	    <mapping class="com.tuvarna.transportsystem.entities.TransportType"/>
	    <mapping class="com.tuvarna.transportsystem.entities.TripType"/>
	    <mapping class="com.tuvarna.transportsystem.entities.UserProfile"/>
	    <mapping class="com.tuvarna.transportsystem.entities.UserType"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Ticket"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Trip"/>
	    <mapping class="com.tuvarna.transportsystem.entities.User"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Request"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Route"/>
	    <mapping class="com.tuvarna.transportsystem.entities.RouteAttachment"/>
	    <mapping class="com.tuvarna.transportsystem.entities.Notification"/>
	</session-factory>
</hibernate-configuration>